:root{
    --primary-bg:#e7e7e7;
    --primary-text:black;
    --primary-subtest:grey;
    --secondary-text:white;
    --secondary-subtext:rgb(114, 101, 101);
    --primary-button-color:black;
    --primary-button-text:white;
}
body{
    margin:3rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.96rem;
    font-weight: 400;
    color: var(--primary-text);
    line-height: 2.6;
}

h1, h2, p { margin: 0; }
h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.5rem;      
    font-weight: 300;
}
.changelog-container{
    display: grid;
    grid-template-columns: 100%;
    place-items: center; 
    align-items: center;
}

.timeline{
    display:inline-block;
    width: 100%;
    padding: 3rem 1rem;
    
    
}

.timeline-item{
    display: grid;
    grid-template-columns: 30% 5% 5% 60%;
    column-gap: 0;
    align-items: center;
    margin:0rem;
}

.symbol{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
}

.symbol::before {
    content: '';
    position: absolute;
    width: 3px;         /* Thickness of the line */
    height: 3rem;       /*Line height */
    background-color: black; /* Line color */
    
  }
    
.circle {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
  }

.circle::before{
    content: '';
    position: absolute;
    width: 10px;        
    height: 10px;       
    background-color: black;
    border-radius: 50%;
    transform: translateX(-3px);
}

.timeline-date{
    display: inline-block;
    text-align: right;
}
   
.button{
    background-color: var(--primary-button-color);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}
.button-item{
    text-decoration: none;
    color: var(--primary-button-text);
    
}
.button-item:active{
    color: var(--primary-button-text);
}

